<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.huawei.dao.UserMapper">-->



<mapper namespace="com.huawei.mapper.UserMapper">

    <select id="getScBySid" parameterType="string" resultType="com.huawei.dao.SC">
        select * from sc where sid=#{sid}
    </select>

</mapper>
